.idea
*.iml
*.orig
*.orig

logs/



.DS_Store
/target/

.classpath
.project
.externalToolBuilders/
*.settings/*
*.settings
*classes*

/bin/
/dblogs
src/main/webapp/WEB-INF/
src/main/webapp/WEB-INF/classes/
*.sql
/lib
logs/
